<!DOCTYPE html>
<html>

<script>
  const getToken = () => {
    return window.localStorage.getItem("ACCESS_TOKEN");
  }

  const token  = getToken();
  
  if (!token) {
    window.location.replace("/");
  }
</script>
  <body>
    <h1>Page de profil</h1>
  </body>
</html>